* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f7f7f7;
}

header {
  background-color: #a1a1a1;
  color: white;
  text-align: center;
  padding: 10px;
} 

img {
  border: 5px solid #ffffff;
  border-radius: 50%;
  width: 200px;
  margin: 10px;
  
}

header p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  line-height: 1.5;
}

section {
  background-color: white;
  border: rgb(230, 230, 230) 1px solid;
  border-radius: 10px;
  max-width: 600px;
  margin: 10px auto;
  padding: 2rem;
}

#sobre-mim{
  margin: 0 0 1rem;
}

#experiencia {
  margin: 0 0 1rem;
} #experiencia-lista {
  margin: 0 1rem;
}

#educacao {
  margin: 0 0 1rem;
} #educacao-lista {
  margin: 0 1rem;
}

#habilidades {
  margin: 0 0 1rem;
} #habilidades-lista {
  margin: 0 1rem;
}



footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}